

.ContentQuanlity h1{
font-family: "Roboto";
font-size: 50px;
font-weight: 700;
line-height: 67.2px;
text-align: left;
}

.ContentQuanlity p {
font-family: "Poppins";
font-size: 14px;
font-weight: 400;
letter-spacing: 1px;
text-align: left;
}

.ContentQuanlity{
    background-color: var(--darkblues);
    color:var(--white);
}

.Content{
    width:50%
}

.ImagePoles {
    position: relative;
    height: 500px;
    background-color: var( --blue);
}

.ImagePoles img{
    position: absolute;
    left: -250px;
    top: 0;
    width: 80%;
    height: 100%;
    object-fit: cover
}

.shopbtn{
padding: 20px 90px;
margin: 20px 0px;
font-family: "Roboto";
font-size: 20px;
font-weight: 600;
border: 0px;
background-color: var(--blue);
color:var(--white);
}

/* ...........threecard............ */
.SectionPage{
    width: 90%;
    margin: auto;
}
.threecard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0px;
}
.card1{
    display: flex;
    align-items: center;
    place-self: center;
    font-size: 16px;
    font-weight: 500;
}
.card1 h5{
    font-size: 16px;
    font-weight: 700;
}
.vechile{
    padding: 20px 25px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 28px;
    background-color: var(--blue);
    -webkit-box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
}
.vechile1{
    padding: 20px 28px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 28px;
    background-color: var(--blue);
    -webkit-box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
    box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
}
.vechile2{
    padding: 20px 30px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 28px;
    background-color: var(--blue);
    -webkit-box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
    box-shadow: -10px 6px 18px -4px rgba(0,0,0,0.75);
}
/* ...........threecard............ */

/* .....................aboutUs................... */
.AboutUs{
    margin: 10px 0px;
}
.AboutUs h5{
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: var(--darkblues);   
}

.AboutUs p{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}
/* .....................aboutUs................... */

/* ..........................OurRange...................... */
.OurRange{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    flex: 0 0 calc(30% - 20px);
    padding: 20px;
    margin: 10px;
}
.OurRange h6{
 font-family: "Poppins";
font-size: 24px;
font-weight: 500;
text-align: center;

}
 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
.ImagePoles {
    background-color: var( --blue);
}
.Content{
    width:100%;
    padding:20px;
}
.ImagePoles img{
    position: absolute;
    transform: translate(60%, 2%);
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.threecard{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px 0px;
}
.item{
    flex: 0 0 calc(50% - 20px);
    padding: 20px;
    margin: 10px;
}
 }

 /* ...................Railmeasuring........... */
 .Railmeasuring{
    background-color: var(--darkblues);
    
 }

 .Railmeasuring span{
    margin-right: 20px;
 }

 .Railmeasuring p{
font-family: "Roboto";
font-size: 30px;
font-weight: 400;
text-align: center;
padding: 10px 0px;
color: var(--white);
 }

 /* .................bestseller............ */
 .bestseller{
    margin: 30px 0px;
    position: relative;
 }
 .bestseller h5{
font-family: "Roboto";
font-size: 40px;
font-weight: 400;
text-align: center;
color:var(--darkblues)

 }
/* ............. 3 slider ..................  */
.slick-slide {
	transform: scale(0.8);
	transition: all 0.4s ease-in-out;
	padding: 40px 0;
}


.slick-slide img {
	max-width: 100%;
	transition: all 0.4s ease-in-out;
}

.slick-center {
	transform: scale(1.1);
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 250px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  color: black;
  cursor: pointer;
  padding-top: 3px;
  margin: 20px;
  border-radius: 50%;
}


.viewallbtn{
    text-decoration: none;
    color: var(--darkblue);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    padding: 5px 30px;
    border:1px solid black;
    background-color: transparent;
}
/* ..............................clients...................... */
.Clients h3{
    position: relative;
font-family: "Roboto";
font-size: 40px;
font-weight: 400;
text-align: center;
color: var(--darkblue);
}

.items h5{
    font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
        text-align: left;
}

.items h6{
    font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
}

.items p{
    font-size:18px;
}

.star span{
    font-family: "Lato";
        font-size: 12px;
        font-weight: 400;
}

ul{
    list-style: none;
}

.fa-star{
color: yellow;
}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    
.ImagePoles {
    background-color: var( --blue);
}
.Content{
    width:100%;
    padding:20px;
}
.ImagePoles img{
    position: absolute;
    transform: translate(45%, 2%);
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.threecard{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px 0px;
}
.item{
    flex: 0 0 calc(50% - 20px);
    padding: 20px;
    margin: 10px;
}

.item h6{
    font-family: "Poppins";
font-size: 24px;
font-weight: 500;
text-align: left;
}
.itme p{
font-family: "Poppins";
font-size: 16px;
font-weight: 700;
text-align: left;

}

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
.ImagePoles {
    position: relative;
    background-color: var( --blue);
}
.Content{
    width:100%;
    padding:20px;
}
.ImagePoles img{
    position: absolute;
    transform: translate(30%, 2%);
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.threecard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0px;
}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .ImagePoles {
        position: relative;
        height: 600px;
        background-color: var( --blue);
    }
    
    .Content{
        width:80%;
    }
    .ImagePoles img{
        position: absolute;
        top: 0;
        transform: translate(30%, 5%);
        width: 100%;
        height: 100%;
        object-fit: cover
    }

}
